@import "src/_variables.scss";

.widget {
  background-color: $color-white-dirtier;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;

  &__title {
    font-weight: $font-weight-lighter;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  &__body {
    width: 100%;
  }
}
