$font-weight-lighter: 300;
$font-weight-light: 400;
$font-weight-reqular: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$color-white: #fff;
$color-white-dirtier: #fafafa;
$color-white-dirty: #ffffff0a;

$color-grey: grey;
$color-grey-lighter: #e1e1e16e;
$color-grey-light: #e5e5e5;
$color-grey-darker: #80808091;

$color-black: #000;
$color-red: red;
